.viewer {
  width: var(--project-model-viewer-width);
  height: var(--project-model-viewer-height);
  border: $border;
  background: $white;
  position: sticky;
  top: var(--app-padding);
  flex-shrink: 0;
  overflow: hidden;
  user-select: none;
  touch-action: none;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      transparent 0,
      transparent ui(1px),
      rgba(0, 0, 0, 0.08) ui(1px),
      rgba(0, 0, 0, 0.08) ui(2px)
    );
    background-size: 100% ui(3px);
    mix-blend-mode: multiply;
  }
}

.large {
  position: relative;
  top: auto;
  width: var(--model-viewer-width);
  height: var(--model-viewer-height);
}

.canvas {
  width: 100%;
  height: 100%;
}

.viewerFallback {
  width: 100%;
  height: 100%;
  background: $white;
}

.caption {
  position: absolute;
  left: var(--section-gap);
  right: var(--section-gap);
  bottom: ui(5px);
  background: $white;
  @include textMain(var(--font-main-size), ui(12px));
  text-align: center;
  pointer-events: none;
}
