$public-base: "/" !default;

@font-face {
  font-family: "ChiKareGo2";
  src:
    url("#{$public-base}fonts/ChiKareGo2.woff2") format("woff2"),
    url("#{$public-base}fonts/ChiKareGo2.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FindersKeepers";
  src:
    url("#{$public-base}fonts/FindersKeepers.woff2") format("woff2"),
    url("#{$public-base}fonts/FindersKeepers.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
