@use "reset";
@use "vars";
@use "fonts";
@import "mixins";

body {
  @include textMain(16px, 24px);
}
.App {
  min-height: 100vh;
}

.main-wrapper {
  //   width: 800px;
  //   height: 600px;
  width: 100%;
  height: 100vh;
}
