.topbar {
  --line-size: var(--window-line-size);
  width: 100%;
  background: $white;
  height: var(--topbar-height);
  border-bottom: $border;
  @include textTitle(ui(16px), ui(14px));
  color: $black;
  display: flex;
  align-items: stretch;
  padding-inline: ui(20px);
  position: relative;
  z-index: $z-topbar;
  user-select: none;

  @include mobile-touch {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-topbar;
    padding-inline: var(--desktop-mobile-padding-inline);
    padding-top: env(safe-area-inset-top, 0px);

    overflow: visible;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.tab {
  position: relative;
}

.mobileHidden {
  @include mobile-touch {
    display: none;
  }
}

.tabTitle {
  height: 100%;
  padding-inline: ui(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  touch-action: manipulation;
  &.active {
    background: $black;
    color: $white;
  }
  &.titleTab {
    cursor: default;
  }
}

.checkmark {
  display: inline-block;
  width: ui(16px);
  text-align: center;
}

.checkmarkSpacer {
  display: inline-block;
  width: ui(16px);
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: $white;
  border: $border;
  z-index: $z-submenu;
  min-width: ui(160px);
}

.submenuItem {
  padding: ui(4px) ui(16px);
  white-space: nowrap;
  height: ui(20px);
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: $black;
    color: $white;
  }

  &.disabled {
    @include pattern-mask-text;
  }
}

.submenuSeparator {
  @include pattern;
  margin: ui(4px) 0;
  height: var(--line-size);
}

.clock {
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
  padding-inline: ui(10px);
  background: $white;
}
