.folder {
  // TODO: make dynamic

  width: max-content;
  min-width: ui(48px);
  display: flex;
  flex-direction: column;
  align-items: center;
  touch-action: none;
  min-width: ui(82px);

  @include mobile-touch {
    position: static !important;
    touch-action: manipulation;
    min-width: 0;
    max-width: 100%;
  }

  &.active,
  &:active {
    filter: invert(1);
  }

  &.opened {
    filter: none;
  }

  &.trash {

    @include mobile-touch {
      grid-column: 3;
      justify-self: center;

      position: sticky !important;
      bottom: var(--desktop-mobile-padding-bottom);
      margin-top: auto;

      z-index: 2;
    }
  }
}

.folderIcon {
  width: var(--finder-icon-size);
  height: var(--finder-icon-size);

  img,
  svg {
    display: block;
    width: var(--finder-icon-size);
    height: var(--finder-icon-size);
    image-rendering: pixelated;
  }
}

.folderName {
  min-height: var(--finder-label-line-height);
  @include textMain(var(--finder-label-font-size),
    var(--finder-label-line-height));
  background: $white;
  padding-inline: ui(3px);
  user-select: none;
  white-space: nowrap;
  text-align: center;

  @include mobile-touch {
    white-space: normal;
    word-break: break-word;
    max-width: 100%;
    font-size: ui(14px);
    min-height: auto;
  }
}