.folder {
  // TODO: make dynamic

  width: max-content;
  min-width: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  touch-action: none;

  @media (max-width: 768px), (hover: none), (pointer: coarse) {
    position: static !important;
    touch-action: manipulation;
  }

  &.active,
  &:active {
    filter: invert(1);
  }

  &.opened {
    filter: none;
  }
}

.folderIcon {
  width: 32px;
  height: 32px;

  img {
    display: block;
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
  }
}

.folderName {
  min-height: 12px;
  @include textMain(16px, 12px);
  background: $white;
  padding-inline: 3px;
  user-select: none;
  white-space: nowrap;
  text-align: center;
}
