.cursor {
  position: fixed;
  pointer-events: none;
  z-index: $z-cursor;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  opacity: 1;
  width: var(--cursor-size);
  height: var(--cursor-size);
  transform: none;
}

.default,
.arrow {
  background-image: var(--cursor-arrow);
}

.watch {
  background-image: var(--cursor-watch);
}
