.cursor {
  position: fixed;
  pointer-events: none;
  z-index: $z-cursor;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  opacity: 1;
  width: var(--cursor-size);
  height: var(--cursor-size);
  transform: none;
}

.default {
  background-image: var(--cursor-default);
}

.arrow {
  background-image: var(--cursor-arrow);
}

.background {
  background-image: var(--cursor-background);
}

.beam {
  background-image: var(--cursor-beam);
}

.busy {
  background-image: var(--cursor-busy);
}

.grab {
  background-image: var(--cursor-grab);
}

.grab_02 {
  background-image: var(--cursor-grab_02);
}

.hand {
  background-image: var(--cursor-hand);
}

.pencil {
  background-image: var(--cursor-pencil);
}

.precision {
  background-image: var(--cursor-precision);
}

.resize {
  background-image: var(--cursor-resize);
}

.resize_02 {
  background-image: var(--cursor-resize_02);
}

.watch {
  background-image: var(--cursor-watch);
}
